.about {

    padding: 200px 0 150px 0;

    // .about__row

    &__row {
        display: flex;
        margin: 0 -30px;
    }

    // .about__item

    &__item {
        flex: 1 1 100%;
        padding: 0 30px;
        position: relative;
    }

    // .about__title

    &__title {
        margin-bottom: 25px;
    }

    // .about__text

    &__text {

        & + .about__text{
            margin-top: 15px;
        }
    }

    // .about__img

    &__image {
        height: 402px;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }

        &::after{
            content: "";
            width: 570px;
            height: 485px;
            border: 5px #f1f5fd solid;
            display: inline-block;
            position: absolute;
            top: -46px;
            left: 50px;
            z-index: -1;
        }

    }
}

.quotation {

    padding: 235px 0 163px 0;
    // background: url(../images/dest/about/man.png) left/auto 100% no-repeat;
    background: url(../images/dest/about/2.png) center / cover no-repeat, url(../images/dest/about/man.png) 40% 50%/auto 100% no-repeat;
    background-color: rgb(35, 71, 126);
    
    // .quotation__item
    
    &__row{
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        width: 50%;
        color: white;
        position: relative;

        &::after{
            content: "";
            background-image: url(../images/dest/about/quote1.svg);
            width: 65px;
            height: 65px;
            display: inline-block;
            position: absolute;
            top: -40%;
            right: 45%;
        }
    }

    // .quotation__text

    &__text {
        font: 400 18px/45px 'Montserrat', Arial, sans-serif;
        font-style: italic;
        text-align: center;
        margin-bottom: 20px;
    }

    // .quotation__author

    &__author {
        font: 700 14px/25px 'Montserrat', Arial, sans-serif;
        font-style: italic;
        text-align: center;

    }
}

.partners {
    padding: 150px 0 85px 0;

    // .partners__row

    &__row {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: 0 -25px;
    }

    // .partners__item

    &__item {
        flex: 1 1 25%;
        padding: 0 25px;
        margin-bottom: 65px;
    }

    .title-36 {
        text-align: center;
        margin-bottom: 60px;
    }
}



.services--about{

    margin-top: 100px;

    & .title-36{
        max-width: 640px;
        margin: 0 auto;
    }

    .services__title{
        font-size: 24px;
        margin-bottom: 10px;
    }
    .services__number{
        position: relative;
        left: -32px;
        top: -84px;
        z-index: -1;
    }

    .services__icon {
        height: 60px;
        position: relative;
        top: 0;
        right: -31px;
    }
    .services__item{
        margin-top: 110px;
    }
    .services__icon img {
        height: inherit;
    }
}

@media (max-width: 875px){
    .services--about .services__item{
        margin-top: 60px;
    }
    .services--about{
        margin-top: 30px;
    }
}

@media (max-width: 810px){
    .services--about{
        margin-top: 0px;
    }
}

.team {

    padding: 100px 0 50px;

    & .container {
        position: relative;
    }

    // .team__photo
    .title-24 {
        margin-bottom: 10px;
    }
    &__photo {
        height: 646px;
        max-width: 944px;

        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    // .team__quotation

    &__quotation {
        background-color: #F1F5FD;
        max-width: 460px;
        padding: 100px 57px;
        position: absolute;
        top: 400px;
        right: 20px;
    }
}
.container {
}
.title-24 {
}
