

.services {

    padding: 0px 0 120px 0;

    // .services__row

    img{
        height: 65px;
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -20px;
    }

    // .services__item

    &__item {
        padding: 0 15px;
        flex: 1 1 33.33%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        margin-top: 40px;
    }

    // .services__icon

    &__icon {
        height: 65px;
        margin-bottom: 50px;
    }

    // .services__title

    &__title {

        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 50px;

    }

    // .services__text

    &__text {
        font-family: 'Montserrat', sans-serif;
        color: #788BA8;
        line-height: 24px;
    }

    .title-36 {
        text-align: center;
        margin-bottom: 60px;
    }
}

@media (max-width: 875px){
    .services__item{
        margin-top: 0px;
    }
}




.done {

    padding: 80px 0;
    background: url(../images/dest/main/1.png) center / cover no-repeat;

    // .done__row

    &__row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -50px;

    }

    // .done__item

    &__item {
        flex: 1 1 20%;
        padding: 0 45px;
        
    }

    // .done__title

    &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0em;
        text-align: left;
        color: white;
        margin-bottom: 25px;

    }

    // .done__subtitle

    &__subtitle {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: white;

    }
}


